h1 {
  font-family: Arial;
}

h4 {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  font-family: Helvetica;
  font-size: 14px;
  color: #1F1F1F;
}

.heading {
  font-family: Sofia;
  color: #A54A4A;
  font-size: 20px;
}

body {
  background-color: #EAE7DE;
}

.bolded {
  font-weight: bold;
}

#nav {
  width: 100%;
  height: 2rem;
  background-color: #D9D5C7;
  padding: 10px; 
  text-align: center; 
}

#nav a {
  font-size: 80%;
  text-decoration: none;
  padding-right: 1rem; 
}

#titleBanner {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: none; /*url(https://images.unsplash.com/photo-1639108094328-2b94a49b1c2e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);*/
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 3px 3px #ABABAB;
}

#titleBanner h1 {
  font-family: Sofia;
  color: #7C1616;
  text-shadow: 0px 3px 3px #ABABAB;
  font-size: 200%;
  padding: 20px;
  bottom: 0;
  left: 0;
  line-height: 50%;
}

#titleBanner h4 {
  position: top left;
  bottom: 0;
  left: 0;
  color: #561B1E;
  padding: 20px;
}

#titleBanner h1.tp {
  font-size: 150%;
}

#titleBanner h1.blue {
  color: #542FF7;
  text-shadow: 0px 3px 3px #ABABAB;
}

#columns {
  padding: 1vh;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4vh;
  box-shadow: 0px 4px 4px #5B5B5D;
}

#columns div#ingredients{ flex-basis:28%; }
#columns div#equipment{ flex-basis:20%; }
#columns div#directions{ flex-basis:50%; }


* {
  box-sizing: border-box;
}

#footer{
  paddding: 30px;
  font-family: Helvetica;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: #7C1616;
}

#questions{
  paddding: 30px;
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  color: #7C1616;
}

div{
  display: block;
}
@media screen and (orientation: portrait) and (max-width: 575px) {
  #columns {
    padding: 1vh 3vh 3vh 3vh;
    display: block;
  }
  #titleBanner {
    height: 50vh;
  }
  #footer{
    text-align: center;
    font-size: 10px;
  }
  #questions{
    text-align: center; 
     font-size: 15px;
  }
  
}